################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.json
*.wsuo
/SOLID/SOLID/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SOLID/SOLID/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
